<h1>Welcome to my blog thing yeah</h1>

<p>you are logged in as {{view "currentUser"}}</p>
<ul>
    <li>{{#link-to "posts"}}posts{{/link-to}}</li>
    <li>{{#link-to "users"}}users{{/link-to}}</li>
    <li>{{#link-to "login"}}Login yo{{/link-to}}</li>
</ul>
<hr>
{{ outlet }}
